CREATE OR ALTER PROCEDURE [dbo].[sp_GetUserCompanyData]
   @UserId   BIGINT,
    @EntityId BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    -------------------------------------------------------------------------
    -- Validar que el usuario existe y está activo
    -------------------------------------------------------------------------
    IF NOT EXISTS (
        SELECT 1
        FROM [User] AS u
        WHERE u.id_user = @UserId
          AND u.user_is_active = 1
    )
    BEGIN
        RAISERROR('El usuario no existe o está inactivo.', 16, 1);
        RETURN;
    END;

    -------------------------------------------------------------------------
    -- Crear tablas temporales para registros y permisos
    -------------------------------------------------------------------------
    CREATE TABLE #AccessibleRecords (
        record_id BIGINT,
        entity_name NVARCHAR(255),
        id_broff BIGINT
    );

    CREATE TABLE #UserPermissions (
        permission_id BIGINT,
        can_create BIT,
        can_read BIT,
        can_update BIT,
        can_delete BIT,
        can_import BIT,
        can_export BIT
    );

    -------------------------------------------------------------------------
    -- Insertar registros accesibles en la tabla temporal #AccessibleRecords
    -------------------------------------------------------------------------
    INSERT INTO #AccessibleRecords
    SELECT er.child_record_id, ec.entit_name, bo.id_broff
    FROM UserCompany uc
    INNER JOIN BranchOffice bo
        ON uc.company_id = bo.company_id
    INNER JOIN EntityRelationship er
        ON bo.id_broff = er.parent_record_id
    INNER JOIN EntityCatalog ec
        ON er.child_entity_id = ec.id_entit
    WHERE uc.user_id = @UserId
      AND er.child_entity_id = @EntityId;

    -------------------------------------------------------------------------
    -- Determinar los permisos del usuario
    -------------------------------------------------------------------------
    INSERT INTO #UserPermissions
    SELECT 
        p.id_permi,
        MAX(CAST(CAST(pu.peusr_include AS INT) * p.can_create AS INT)) AS can_create,
        MAX(CAST(CAST(pu.peusr_include AS INT) * p.can_read   AS INT)) AS can_read,
        MAX(CAST(CAST(pu.peusr_include AS INT) * p.can_update AS INT)) AS can_update,
        MAX(CAST(CAST(pu.peusr_include AS INT) * p.can_delete AS INT)) AS can_delete,
        MAX(CAST(CAST(pu.peusr_include AS INT) * p.can_import AS INT)) AS can_import,
        MAX(CAST(CAST(pu.peusr_include AS INT) * p.can_export AS INT)) AS can_export
    FROM PermiUser pu
    INNER JOIN Permission p
        ON pu.permission_id = p.id_permi
    WHERE pu.usercompany_id IN (SELECT id_useco FROM UserCompany WHERE user_id = @UserId)
      AND pu.entitycatalog_id = @EntityId
    GROUP BY p.id_permi;

    -------------------------------------------------------------------------
    -- Determinar los permisos basados en roles
    -------------------------------------------------------------------------
    INSERT INTO #UserPermissions
    SELECT 
        p.id_permi,
        MAX(CAST(CAST(pr.perol_include AS INT) * p.can_create AS INT)) AS can_create,
        MAX(CAST(CAST(pr.perol_include AS INT) * p.can_read   AS INT)) AS can_read,
        MAX(CAST(CAST(pr.perol_include AS INT) * p.can_update AS INT)) AS can_update,
        MAX(CAST(CAST(pr.perol_include AS INT) * p.can_delete AS INT)) AS can_delete,
        MAX(CAST(CAST(pr.perol_include AS INT) * p.can_import AS INT)) AS can_import,
        MAX(CAST(CAST(pr.perol_include AS INT) * p.can_export AS INT)) AS can_export
    FROM PermiRole pr
    INNER JOIN Permission p
        ON pr.permission_id = p.id_permi
    WHERE pr.role_id IN (SELECT role_id FROM Role WHERE company_id IN (SELECT company_id FROM UserCompany WHERE user_id = @UserId))
      AND pr.entitycatalog_id = @EntityId
    GROUP BY p.id_permi;

    -------------------------------------------------------------------------
    -- Consultar los registros accesibles junto con los permisos
    -------------------------------------------------------------------------
    SELECT 
        ar.record_id,
        ar.entity_name,
        up.can_create,
        up.can_read,
        up.can_update,
        up.can_delete,
        up.can_import,
        up.can_export
    FROM #AccessibleRecords ar
    LEFT JOIN #UserPermissions up
        ON ar.record_id = up.permission_id;

    -------------------------------------------------------------------------
    -- Limpiar tablas temporales
    -------------------------------------------------------------------------
    DROP TABLE #AccessibleRecords;
    DROP TABLE #UserPermissions;
END;
GO